<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    <ion-title>Son</ion-title>
    <ion-title>
        {{selectedCourse.title}}
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="has-header">
    <div class="buttonCenter" *ngIf="!listened; else elseBlock">
        <button ion-button color="secondary" round (click)="playSound(wordsearched)">Ecouter</button>
      </div>
      <ng-template #elseBlock>
          <div class="buttonCenter">
              <button ion-button color="secondary" round (click)="playSound(wordsearched)">Écouter de nouveau</button>
            </div>
      </ng-template>
  <!--ion-card class="mycard" (click)="playSound(wordsearched)" >
    <ion-card-content>
      <div class="circle"> <div class="play"></div></div>
     
      <ion-icon name="play" item-end></ion-icon>
    </ion-card-content>
  </ion-card-->

  <ion-list radio-group dir="rtl" [(ngModel)]="wordchoosen">
    <ion-item *ngFor="let word of displayed_words">
      <ion-label>{{word.french}}</ion-label>
      <ion-radio [value]="word"></ion-radio>
    </ion-item>
  </ion-list>

  <div class="buttonCenter">
    <button ion-button color="secondary" round (click)="validate()">Valider</button>
  </div>
</ion-content>