.headerapp{
    background-color: green
  }
  
  .mycard{
    background-color: white;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: auto;
    font-weight: 500;
  }

  .button-md-secondary{color:green;}

  .fillgaps{
  display:flex;
  justify-content: space-between;
  align-items: center;
}


 