<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    <ion-title>Correction Dictée</ion-title>
    <ion-title>
        {{selectedCourse.title}}
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="has-header">
  <div *ngIf="!answeropened; else elseBlock">
    <ion-list>
      <ion-item *ngFor="let wi of wordsIcon">
        <ion-card (click)="showCorrection(wi)">
          <ion-card-content>
            <ion-icon [name]="wi.answericon" item-end></ion-icon>
            {{wi.arabic}}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>


  <ng-template #elseBlock>


    <div class="buttonCenter">
      <button ion-button color="secondary" round (click)="playSound(wordSearchedClicked)">Ecouter</button>
    </div>

    <ion-list dir="rtl">
      <!--ion-item *ngFor="let word of wordsIcon"-->
      <ion-item>
        
        <ion-label>{{wordSearchedClicked.arabic}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon *ngIf="wordSearchedClicked.arabic==userChoiceAnswer" name="checkmark-circle-outline" item-end></ion-icon>
        <ion-icon *ngIf="(wordSearchedClicked.arabic!=userChoiceAnswer)" name="flash" item-end></ion-icon>
        <ion-label>
          {{userChoiceAnswer}}
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="buttonCenter"><button ion-button color="secondary" round (click)="backToMainCorrectPage()">Retour</button></div>

  </ng-template>
</ion-content>