.newWord{
    color:red
}

.rule{
    border:2px solid red;
    
}

.titleCard{
    text-align: center;
    color:#168c39;
    text-decoration: underline;
    text-decoration-color: #168c39;
}
.amiri{
    font-family: 'Amiri',Arial,sans-serif;
}
.iconic {
    font-size: 64px;
    color : #168c39;
  }