.newWord{
    color:red
}

.rule{
    border:2px solid red;
    
}
.rule2{
    font-style:italic;
    color:red;
}

.titleCard{
    text-align: center;
    color:#168c39;
    text-decoration: underline;
    text-decoration-color: #168c39;
}
.titleCourse{
    color:red;
}
.exple{
    color:rgb(255, 136, 0);
}
.amiri{
    font-family: 'Amiri',Arial,sans-serif;
}
.iconic {
    font-size: 64px;
    color : #168c39;
  }

 .test{
    background-color: slategray;
  }