<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    <ion-title>Correction Français=> Arabe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!answeropened; else elseBlock">
    <ion-list>
      <ion-item *ngFor="let wi of wordsIcon">
        <ion-card (click)="showCorrection(wi)">
          <ion-card-content>
            <ion-icon [name]="wi.answericon" item-end></ion-icon>
            {{wi.french}}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>


  <ng-template #elseBlock>


    <ion-card>
      <ion-card-content>
        {{wordSearchedClicked.french}}
      </ion-card-content>
    </ion-card>
    <ion-list dir="rtl">
      <ion-item *ngFor="let word of displayedWordsChoosen">
        <ion-icon *ngIf="word.arabic==wordSearchedClicked.arabic" name="checkmark-circle-outline" item-end></ion-icon>
        <ion-icon *ngIf="((word.arabic==userChoiceAnswer)&&(userChoiceAnswer!=wordSearchedClicked.arabic))" name="flash" item-end></ion-icon>
        <ion-label>{{word.arabic}}</ion-label>
      </ion-item>
    </ion-list>
    <button ion-button color="secondary" round (click)="backToMainCorrectPage()">Retour</button>

  </ng-template>
</ion-content>